
body{
    background-color: rgba(108, 215, 251, 0.893);
}

h1{
    text-align: center;
    font-size: 60px;
}

h2{
    font-size: 33px;
}

#paragraph2{
    border: 3px solid green;
    padding: 20px;
    width: 900px;
    background-color: white;

    margin-left: 25px;

    line-height: 1.5;
}

.blue{
    background-color: rgb(2, 2, 156);
    padding: 10px;

    color: white;
}

.w3-link{
    color: red;
}

ol {
    list-style-type: decimal-leading-zero;
}

table, td, th {
  border: 1px solid;
}
table{
    border-collapse: collapse;
}

th{
    background-color: rgb(205, 204, 204);
}

td{
    padding: 10px;

    background-color: white;
}
			
