
body{
    background-color: deepskyblue;
}

h1{
    text-align: center;
    /* text size needs adjusting */
}

h2{

}

#paragraph2{
    border: 3px solid green;
    padding: 20px;
    width: 900px;
    background-color: white;

    margin-left: 25px;

    line-height: 1.5;
}

.blue{
    background-color: rgb(2, 2, 156);
    padding: 10px;

    color: white;
}

.w3-link{
    color: red;
}

ol {
    list-style-type: decimal-leading-zero;
}

table{
    
}
			
