body{
    background-color: aqua;
}

/* Keeps the header visible at the top when scrolling */
header{
    position: sticky; /*Sticks to the top once reached */
    top: 0;

    text-align: center;
}

header p{
    font-size: 30px;
}

/* Increase the button size*/
header nav button{
    padding: 15px 30px;
}

/* Fixes navigation menu to the left side of the screen */
#jumpMenu {
    position: fixed;   
    top: 0;            
    bottom: 0;         
    left: 0;           
    
    width: 200px;      
    background-color: #f0f0f0;
    border-right: 1px solid black;

    /* Spaces each link vertically */
    display: flex;
    flex-direction: column;      
    justify-content: space-around;  
       

    padding: 20px;               
}

h1{
    text-align: center;
}

/* Lays articles out into rows and allows for wrapping upon window resizing */
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-left: 220px; /*  more than the jumpMenu width */
}

/* Aligns each article to the center with a width of 300px */
article{
    text-align: center;
    width: 300px;

    /* Created a border around each article so show separation*/
    background-color: antiquewhite;
    border: 1px solid black;
    margin: 20px;
    

}

/* Fixed the thank you message to the botton right corner */
#thanks {
    
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 0;
    height: 100px;
    width: 400px;

    display: flex;                
    justify-content: flex-end;    /* horizontal: right */
    align-items: flex-end;        /* vertical: bottom */


    font-size: 30px;
    color: black;
}

footer{
    text-align: center;
}