body{
    margin: 0;
}

/* Header fixed at the top and unaffected by scrolling*/
header{
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;


    border: 1px solid black;
    background-color: red;

    text-align: center;
    font-size: 35px;
}

header p{
    font-size: 30px;
}

/* Nav buttons inside header */
header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    
    background-color: black;
}

/* Alignment, color, and sizing for nav buttons*/
header nav button{
    padding: 15px;
    width: 250px;
    background-color: blue;
    color: white;

    font-size: large;
}

/* Fixes navigation menu to the left side of the screen */
#jumpMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;

    background-color: rgb(255, 179, 2);
    border-right: 1px solid black;

    /* Spaces each link vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* Alignment for fixed header and jumpMenu*/
main {
    margin-left: 220px;  
    padding-top: 100px; 
}

h1{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

/* Lays articles out into rows and allows for wrapping upon window resizing */
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* Aligns each article to the center with a width of 300px */
article{
    text-align: center;
    width: 300px;
}

/* Fixed the thank you message to the botton right corner */
#thanks {
    
    position: fixed;
    bottom: 0;
    right: 0;

    border: 1px solid black;
    text-align: center;
    background-color: rgb(50, 223, 253);

    margin: 0;
    height: 80px;
    width: 300px;

    display: flex;                
    justify-content: center;    /* horizontal: center */
    align-items: center;       /* vertical: center */


    font-size: 30px;
    color: black;
}

footer{
    text-align: center;
}