#jumpMenu{
    position: fixed;
    left: 0;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;

    height: 100px;
    width: 400px;

    border: 1px solid black;
    background-color: rgb(0, 140, 255);

    display: flex;
    align-items: center;      /* vertical centering */
    justify-content: center;  /* horizontal centering */

    font-size: 30px;
    color: black;
}