body{
    position: relative;
    margin: 0;
}

header{
    border: 1px solid black;
    background-color: red;
    
    text-align: center;
    font-size: 35px;
}

body nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    border: 1px solid black;
    background-color: black;
}
#menuItems {
    display: flex;         /* use Flexbox */
    flex-direction: column; /* stack items vertically */
    align-items: flex-start; /* optional: left-align them */

}

#menuItems button{
    background-color: blue;
    width: 200px;
    
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#menuItems button:hover{
    background-color: gold;
}


#jumpMenu {
    display: none;              /* hide by default */
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 200px;
    background-color: gold;
}

/* shows the displayed items when hovered over the recent articles or each article*/
#recentArticles:hover + #jumpMenu, #jumpMenu:hover {
    display: flex;             
    flex-direction: column;   
    align-items: center;       
}

/* Style the links normally */
#jumpMenu li a {
        display: flex;             
    flex-direction: column;   
    align-items: center; 

    text-decoration: none; /* remove underline */
    color: blue;          /* default text color */

    width: 100%;           /* fill the menu width */
    background-color: gold; /* default background */
}

/* Hover effect */
#jumpMenu li a:hover {
    display: flex;             
    flex-direction: column;   
    align-items: center; 

    color: black;           /* text becomes black */
    background-color: blue; /* background color changes */
    width: 200px;
}

h1{
    text-align: center;
}

/* Alignment for fixed header and jumpMenu*/
main {
    margin-left: 200px;   
}

/* Lays articles out into rows and allows for wrapping upon window resizing */
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 50px;
}

/* Aligns each article to the center with a width of 300px */
article{
    width: 300px;
    text-align: center;

    color: #999;              /* light text */
    transition: all 2s;       /* animate everything over 2s */
 
}

/* hover state for each article */
article:hover {
    color: #000;              /* darker text */
    transform: scale(1.1);    /* expands article */
}

/* changes the font size and type for the first letter of each paragrpah */
article p:first-of-type::first-letter {
    font-family: "Times New Roman", serif;
    font-size: 36px;
}

/* arrow display for each google link*/
a[href*="google.com"]::after{
    content: url("../images/arrow.png");
}


/* thank you message in the botton right corner */
#thanks {
    
    position: absolute;
    bottom: 0;
    right: 0;
    


    border: 1px solid black;
    text-align: center;
    background-color: rgb(50, 223, 253);

    margin: 0;
    height: 80px;
    width: 350px;

    display: flex;                
    justify-content: center;    /* horizontal: center */
    align-items: center;       /* vertical: center */


    font-size: 30px;
    color: black;
}

footer{
    text-align: center;
}